body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.index-image {
  background-image: url("https://djmag.com/sites/default/files/article/image/iil8azu.jpg");
  height:20vh;
}
