<% include ./partials/header.ejs %>
  <div class="container" style="margin-top: 6vh;">
    <div class='row'>
      <div class='col-md-6 col-sm-12'>
    <div class="card" >
      <img src="https://www.billboard.com/files/styles/review_main_image/public/ed-sheeran-x-410.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="lead " style='color: black; font-size: 3vh; text-align:center;'> X  </p>
        <p class="lead " style='color: black; font-size: 3vh; text-align:center;'> Ed Sheeran </p>
      </div>
    </div>
    </div>
    <div class='col-md-6 col-sm-12'>
      <div class="card">
    <div class="card-header">
      Songs
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> One </li>
      <li class="list-group-item"> I'm a Mess </li>
      <li class="list-group-item"> Sing </li>
      <li class="list-group-item"> Don't </li>
      <li class="list-group-item"> Nina </li>
      <li class="list-group-item"> Photograph </li>
      <li class="list-group-item"> Bloodstream </li>
      <li class="list-group-item"> Tenerife Sea </li>
      <li class="list-group-item"> Thinking Out Loud </li>

    </ul>
  </div>
    </div >
    </div>
  </div>
  </div>
<% include ./partials/footer.ejs %>
