<% include ./partials/header.ejs %>
  <body>
    <section>
    <div class='index-image' style=' background-image: url("https://djmag.com/sites/default/files/article/image/iil8azu.jpg"); height:50vh; background-size: cover;
    background-position: left;'>
      <div class="container">
      <h1 class="jumbotron-heading" style='color: white; font-size: 10vh; padding-top: 10vh;'>Our MusicLibrary Project</h1>
      <p class="lead " style='color: white; font-size: 3vh;'> This is just a minimalist design I implemented for creting a basic scheme and order in the web page, later we can change it an make it better .</p>
      <p style="padding-left: 45vh;">
        <a href="/albums/manage" style="padding:1.5vh;" class="btn btn-primary my-2"> Manage library </a>
        <a href="../my_design"  style="padding:1.5vh;" class="btn btn-secondary my-2">  My Design </a>
      </p>
      </div>
   </div>
   </section
   <section>

     <div class="album bg-light">
    <div style='margin: 15px' >

      <div class="row">
        <% albums.forEach(function(album) { %>
                <div class="col-md-4 col-sm-6">
                  <div class="card mb-4 shadow-sm">
                    <image class="bd-placeholder-img card-img-top" width="100%" height="60%" src=<%=album.IMAGEURL%> preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect>
                    <div class="card-body">
                      <p class="card-text"> <%= album.ALBUMNAME %> </p>
                      <p class="card-text"> <%= album.ARTIST %> </p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary"> <a href='/album'> View </a>  </button>
                        </div>
                        <small class="text-muted"> <%= album.PRICE %></small>
                      </div>
                    </div>
                  </div>
                </div>
      <% }); %>
      </div>
    </div>
  </div>

   </section>
<% include ./partials/footer.ejs %>
