<!DOCTYPE html>
<html>
  <head>
    <title>login system</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>login system</h1>
    <p>Welcome to login system</p>
    <form action="/login/validate" method="POST">
      <label for="username">username: </label>
      <input id="username" type="text" name="username" value="">
      <label for="username">password: </label>
      <input id="password" type="text" name="password" value="">
      <input type="submit" value="login">
    </form>

  </body>
</html>
