<% include ./partials/header.ejs %>
    <h1>login system</h1>
    <p>Welcome to login system</p>
    <p>input username"member" to access member page ,input username "staff" to access staff page</p>
    <form action="/login/validate" method="POST">
      <label for="username">username: </label>
      <input id="username" type="text" name="username" value="">
      <label for="username">password: </label>
      <input id="password" type="text" name="password" value="">
      <input type="submit" value="login">
    </form>
<% include ./partials/footer.ejs %>
